
    body {
      margin:0;
    }
    a {
      text-decoration: none;
      color: black;
    }
    h1 {
      font-size: 45px;
      text-align: center;
      border-bottom: 1px solid black;
      margin:0;
      padding:20px;
    }
    ol {
      border-right: 1px solid black;
      width: 100px;
      margin: 0;
      padding:30px;
    }
    .para {
      width: 700px;

    }
    #grid{
      display: grid;
      grid-template-columns: 150px 1fr;
    }
    #grid ol{
      padding-left: 38px;
    }
    #grid #article #notgrid {
      border-right: none;
      width : 500px;
      padding-top: 0;

    }
    #grid #article{
      padding-left: 55px;
    }
    @media(max-width:1000px){
      #grid{
        display: block;
      }
      #grid ol {
        border-right: none;
        padding-left: 73px;
      }
      #grid #article #notgrid{
        padding-left: 40px;
      }
      .para {
        width : auto;
      }
      .youtube {
        margin-right: 50px;
      }

    }
    .youtube {position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;}
    .youtube iframe,
    .youtube object,
    .youtube embed {position:absolute; top:0; left:0; width:100%; height:100%;}
    html{
      word-break: keep-all;
    }
