
    body {
      margin:0;
    }
    a {
      text-decoration: none;
      color: black;
    }
    h1 {
      font-size: 45px;
      text-align: center;
      border-bottom: 1px solid black;
      margin:0;
      padding:20px;
    }
    ol {
      border-right: 1px solid black;
      width: 100px;
      margin: 0;
      padding:30px;
    }
    .para {
      width: 900px;

    }
    #grid{
      display: grid;
      grid-template-columns: 150px 1fr;
    }
    #grid ol{
      padding-left: 38px;
    }
    #grid #article{
      padding-left: 55px;
    }
    @media(max-width:1000px){
      #grid{
        display: block;
      }
      #grid ol {
        border-right: none;
        padding-left: 73px;
      }
      .para {
        width : auto;
      }

    }
    html{
      word-break: keep-all;
    }
